.main_{
    position: relative;
    display: block;
    width: 100%;
    min-height: 85vh;
}

.page_bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    img{
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.3;
    }

}

.center_flex{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.create_from_wrapper{
    position: relative;
    display: block;
    width: 100%;
    min-width: 800px;
    max-width: 800px;
    height: auto;
    background-color: var(--bg-color);
    padding: 2.5rem;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 1px 1px 8px 3px #b4b4b429;
}

.form_title{
    position: relative;
    display: block;
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.login_wrapper{
    position: relative;
    display: block;
    width: 100%;
    min-width: 400px;
    max-width: 400px;
    height: auto;
    background-color: var(--bg-color);
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 1px 1px 8px 3px #b4b4b429;

    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.05;
        background-color: var(--primary-color);
    }

    .form_grid{
        padding: 2.5rem;
        background-color: var(--bg-color);
        overflow: hidden;
        border-radius: 2rem;
    }

    .form_title{
        margin-bottom: 0;
    }
}

.login_logo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2.5rem;
    overflow: hidden;

    img{
        position: relative;
        display: block;
    }

}

.container_{
    position: relative;
    display: block;
    width: 100%;
    max-width: 1124px;
    min-width: 1124px;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (min-width: 1920px){
        max-width: 1280px;
        min-width: 1280px;
    }
}

.header_{
    position: relative;
    display: block;
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid var(--border-color);

    .nav_wrapper{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav_logo{
            position: relative;
            display: block;
            width: auto;
            height: 4rem;

            img{
                position: relative;
                display: block;
                width: auto;
                height: 100%;
            }
        }
    }

}

.section_{
    position: relative;
    display: block;
    width: 100%;
    padding: 5.5rem 0 0;
    overflow: hidden;
}

.banner_title{
    position: relative;
    display: block;
    width: 100%;

    h1{
        position: relative;
        display: block;
        margin: 0;
        font-size: 2.5rem;

        span{
            color: var(--primary-color);
        }
    }

    p{
        position: relative;
        display: block;
        font-size: 1rem;
        margin-top: 0.5rem;
        line-height: 1.75;
    }
}

.banner_widget{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.25rem;
    width: 100%;
    margin-top: 3.5rem;

    .item_{
        position: relative;
        display: block;

        .link_{
            position: relative;
            display: flex;
            width: 100%;
            color: var(--bg-color);
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            height: 100%;
            grid-column-gap: 1rem;
            border-radius: 1rem;
            background-color: var(--primary-color);
            padding: 1.5rem;  
            overflow: hidden;

            &::before{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 4.5rem;
                height: 4.5rem;
                border-radius: 0 1rem 0 0;
                background-color: var(--bg-color);
                opacity: 0.1;
                transform-origin: bottom left;
                transition: all 0.3s ease;
            }

            .b_wrp{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 1.25rem;  

                .icon_{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 2.75rem;
                    height: 2.75rem;
                    border-radius: 0.5rem;
                    overflow: hidden;
                    transition: all 0.3s ease;

                    &:before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: var(--bg-color);
                        opacity: 0.2;
                    }
                }
            }

            .no_{
                position: relative;
                display: block;
                font-weight: bold;
                font-size: 3rem;
            }
            
            .name_{
                position: relative;
                display: block;
                font-weight: 500;
                font-size: 1.1rem;
            }

            &:hover{
                &:before{
                    transform: scale(1.25);
                }
                .b_wrp{
                    .icon_{
                        transform: scale(1.1);
                    }
                }
            }
        }

        &:nth-child(2){.link_{background-color: #00A87F;}}
        &:nth-child(3){.link_{background-color: #00A0B2;}}
        &:nth-child(4){.link_{background-color: #FFC250;}}

    }
}

.section_header{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1rem;

    h2{
        position: relative;
        display: block;
        font-weight: 700;
        font-size: 2.25rem;
        margin: 0;
    }

    h3{
        position: relative;
        display: block;
        font-weight: 700;
        font-size: 1.75rem;
        margin: 0;
        line-height: 1.25;
    }
}


.filter_area{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

.body_container{
    position: relative;
    display: block;
    width: 100%;
    padding: 2rem;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 0px 0px 20px -5px #0000001d;

    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff40;
        backdrop-filter: blur(4px);
        border-radius: 1rem;
    }

}

.table_{
    position: relative;
    display: block;
    width: 100%;
    border: 1px solid var(--border-color);
    overflow: hidden;
    border-radius: 1rem;
    background-color: var(--bg-color);

    table{
        position: relative;
        width: 100%;
        text-align: start;
        box-sizing: border-box;
        border-collapse: collapse;

        thead{
            tr{
                background: #f2f1fd;
                color: #574ae2;
            }
            th{
                text-align: start;
                padding: 1rem 0.75rem;
            }
        }

        tbody{
            td{
                text-align: start;
                padding: 1rem 0.75rem;
                border-bottom: 1px solid var(--border-color);
                border-inline-end: 1px solid var(--border-color);

                &:last-child{
                    border-inline-end: none;
                }

            }

            tr{

                &:nth-child(even){
                    background: #d9d9d917;
                }

                &:last-child{
                    td{
                        border-bottom: none;
                    }
                }
            }
        }
    }
}


.alert_{
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem;
    background: #f2f1fd;
    border-radius: 0.75rem;
    
    p{
        position: relative;
        display: block;
        font-size: 0.9rem;
        font-weight: 500;
        margin: 0;
    }
}