:root {
    --font-family: 'Inter', sans-serif;
    --primary-color: #574AE2;
    --secondary-color: #7265ff;
    --bg-color: #fff;
    --text-color: #191919;
    --font-size: 16px;
    --success-color: #13cd51;
}