:root {
    --font-family: 'Inter', sans-serif;
    --primary-color: #574AE2;
    --secondary-color: #3c3496;
    --bg-color: #fff;
    --text-color: #2e2a59;
    --font-size: 16px;
    --success-color: #13cd51;
    --third-color-1: #00A87F;
    --third-color-2: #038d6a;
    --border-color: #f2f0fe;
}